html{
    scroll-behavior: smooth;
    display: block;
}


body{
background-color: #e5e5e5;
display: block;
font-family: sans-serif;
margin: 0px;
font-weight: 500;
overflow-x: hidden;

} 

h1 {
font-family: sans-serif ;
font-weight: bold;
margin-right: 30px;
color: #ffffff;
}

h2{
    font-family: monospace;
    font-size: 60px;
    margin: 0;
    line-height: 55px;
    font-weight: bold;
}

h3{
    font-size: 35px;
    font-weight: bold;
    background-color: #172544;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 0px 50px 30px 5px ;
    margin: 4px;
    margin-left: 0px;
    margin-top: 6px;
    
}

h4 {
    font-size: 35px;
    font-weight: bold;
    background-color: #172544;
    color: #ffffff;
    padding: 10px;
    margin: 0px;
}

h4.titulo{
    font-size: 35px;
    font-weight: bold;
    background-color: #000000;
    color: #fca311;
    padding: 10px;
    margin: 0px;
    margin-left: 0px;
    text-align: center;
    font-family: FreeMono;
    
}


h4.coisas{
    font-size: 35px;
    font-weight: bold;
    background-color: #ffffff;
    color: #172544;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

header{
    padding: 10px ;
    background-color: #172544;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content:center;
    position: fixed;
}

nav {
    display: block;
}

nav{
    margin-left: 10px;
    min-width: 580px;
}

div {
    display: block;
}

footer{
    padding: 10px ;
    background-color: #172544;
    display: flex;
    align-items:flex-end;
    height: 200px;
    width: 100%;
    justify-content:space-around;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
} 

.direita{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 450px;
}

.nome{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fca311;
    border-radius: 5px 50px 0px 5px;
    color: #ffffff;
    font-family: Rasa, Bold ;
}


.descrição{
    font-family: URW chanccery L, Medium italic;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
}

.esquerda{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: 30px;
    margin-left: 0px;
    width: 400px;
    height: 550px;
}

.boton:hover {
        color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 25px 50px;
    padding: 15px 15px; 
    text-decoration: none;
    background-color: #e5e5e5 ;
    margin: 3px;
} 


.boton{
     color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 25px 50px;
    padding: 15px 15px; 
    text-decoration: none;
    background-color: #fca311;
    margin: 3px;
} 

.botão:hover{
    color: #fca311;
    font-size: 23px;
    border-radius: 30px;
    padding: 6px;
    text-decoration: none;
    background-color: #ffffff;
}

.botão{
    color: #ffffff;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    background-color: #fca311;
    margin: 5px;
    text-align: center;
}

.foto{
    border-radius: 5px 80px 80px ;
    background-color: #fca311;
    padding: 6px;
    margin-left: 30px;
    margin: 10px;

}

.historia {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 22px;
    color: black;
    font-weight: 300;
    font-family: Chilanka, Regular;
}

.tudo {
    height: 800px;
    width: 100%;
}

.divisão {
    background-color: #172544;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 100%;
    
}

.texto {
    margin: auto;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 5px 5px 0 #fca311;
    text-align: center;

}

.corpo {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
    align-items: center;
}

.interno {
    padding: 10px;
    background-color: #fca311;
    display: flex;
    align-items:center;
    height: 400px;
    width: 100%;
    justify-content: center;
}

.lista-esquerda {  
   display: flex;
   flex-direction: column;
   margin: 10px;
   width: 100%;
   height: 300px;
   align-items: center;
}

.cont {
    display: flex;
    align-items: center;
    margin: 15px;
    font-family: monospace;
    font-size: 20px;
    font-style: bold;
    color: #172544;
}


.icone {
    margin: 5px;
    border-radius: 100%;
}

.lista-direita {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin: 10px;
    align-items: center;
}


.lista {
     height: 500px;
    width: 100%;
}

.all {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;

}

.left {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 350px;
    height: 173px;

}

.right {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 173px;
    margin: 10px;
}

.descrição1 {
    padding: 6px;
    margin: 0px;
    text-align: center;
    font-family: lato;
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
}

.descrição2 {
      padding: 6px;
    margin: 0px;
    text-align: center;
    font-family: lato;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
}